home
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}
.a{
    background-image: url("../image/f.jpg");
    width: 100%;
    height: 260px; 
    background-size: cover; 
    margin-top:-30px;  
}
.nav{
    padding:10px;
    font-size:20px ;
    text-align:right;
    margin-top:-50px;
}

.nav a {
    margin-left: 30px;
    padding: 10px;
    text-decoration: none;
    font-family:sans-serif ;
    color:rgb(15, 15, 15);
    

}
.nav a:hover{
    background:rgb(188, 127, 250);
}
.logo{
    width: 32vh;
    height: 32vh;
    margin-top:10px;
    margin-left:10px;
    border-radius: 100%;
}  
.logo:hover{
    box-shadow: 0 0 15px 10px rgba(0, 140, 186, 0.5);    
} 
/*  */

  .b{
    display: flex;
    height: auto;
    width: auto;
    position: static;
}
.c{
    width: 40%;
    margin-bottom: 10px;
    margin-right:10px;
    margin-left:10px;
    margin-top:30px;
}
.c img{
    width: 99%;
    height: auto; 
}


.d{
    background:#c7fac7;
    height: auto;
    width: 59%;
    margin-top:30px;
    margin-bottom:12px ;
    margin-right:10px;
    line-height:1.5;
}
.d:hover{
    background:#c5fcc5 ;
    cursor: pointer;
    color: black;
}
.d p{
    color: #010102;
    padding:10px;
    margin-left: 5px;
    font-size: 20px;
}
.d h4{
    color:blue;
    margin-left:40%;
    font-size: 25px;
}

.tool button{
    background-color: rgba(144, 144, 252, 0.863);
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-left: 30px;
}
.tool a {
    text-decoration: none;
}

/*  */
footer{
    background: #0a0a0a;
    width: 100%;
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
    margin: 5px 2px;
    
}
footer:hover{
    background-color: #ffd199;
}

.app{

    margin-top: 20px;
    margin-bottom:20px ;
    display: flex;
    }
    
    .fa-skype {
    background: #00aff0;
    color: white;
    }
    .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
    
    
    }
    
    .fa:hover {
    opacity: 0.7;
    }
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    .fa-instagram {
    background: #125688;
    color: white;
    }
    .fa-reddit {
    background: #ff5700;
    color: white;
    }
    .sky{
    border-radius: 20px;
    background:#E6E6FA;
    color:#2F4F4F;
    height: 40px;
    width: 220px;
    font-size: 20px;
    }
    .sky:hover{
    cursor: pointer;
    background: #C71585;
    color:#FFFF00;
    }
    .text1{
    margin-left: 60px;
    }
/*  */
/* information */ */

  .container{
    display: flex;
    width: 100%;
    height: 100vh;

}
.img{
    background-image: url(../image/1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;  
}
.box{
    display: flex;
       
}
.box > div {
    width: 50%;
    height: 400px;
    margin-top: 100px;
    margin-right:50px;
    margin-left:50px;
    background-color: rgb(128, 140, 146);  
}

.cu h4{
    text-align: center;
    font-size:20px;
    color:blue;
}
.cu p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left:25px;
    color:#FFF;
}

.cu:hover{
    background: #3f423f;
}
  

/* contact */

.i{
    width: 100%;
    height: auto;
    background:#db8011;   

}
.f{
    width:100%;
    height:100vh;
    display: flex;
    
}
.g{
    width: 50%;
    height:100vh;
    background-color:#c1f5f7;
    
}
.h{
    width: 50%;
    height:100vh;
    background-color:#fdd098;
 
}  

html, body {
    min-height: 100%;
}
h2 {
    text-align:center;
    margin: 0px 50px 0px 50px;
}
body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;          
}
form {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 50px
}
.info {
    padding-top:20px;
    display: flex;
    flex-direction: column;
}
input, select {
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}
input::placeholder {
    color: #aaa;
}
.checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
}
input[type=submit] {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26a9e0; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    width: 100%;
}
input[type=submit]:hover {
    background: #85d6de;
}
option {
    background: black; 
    border: none;
}
.animate__animated.animate__bounceInLeft {
    --animate-duration: 2s;
}

/*  */


